<div class="error-message">
  <% if @book.errors.any? %>
    <%= @book.errors.count %>errors prohibited this book from being saved:
    <% @book.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
</div>

<%= render 'books/list', user: @user, book: @newbook %>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr></tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= attachment_image_tag @user, :profile_image, :fill, 90, 100, format: 'jpeg', fallback: "no_image.jpg" %></br>
              <%= link_to @user.name, user_path(@user.id) %>
            </td>
            <td><%= link_to @book.title, book_path(@book) %></td>
            <td><%= @book.body %></td>
              <% if @user == current_user %>
                <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
                <td><%= link_to 'Destroy', book_path(@book), class: "btn btn-sm btn-danger", method: :delete, data: {confirm: "削除しますか？"} %></td>
              <% end %>
            <td>
              <%= render 'favorites/favorite-btn', book: @book %>
            </td>
            <td>Comment：<%= @book.book_comments.count %></td>
            <td>View : <%= @book.impressions_count %></td>
          </tr>
        </tbody>
      </table>

      <%= render 'book_comments/book-comment-index', book: @book, book_comment: @book_comment %>
      <%= render 'book_comments/book-comment-form', book: @book, book_comment: @book_comment %>
    </div>
  </div>
</div>
